<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mass Gravity - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <div class="brand"></div>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.build') }}">Play Game</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flashes">
        {% for message in messages %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    <footer>
        <p>&copy; Mass Gravity by Francisco Henseleit</p>
    </footer>
    
    {% block scripts %}{% endblock %}
</body>
</html>