@blue: #6495ed;

html, body {
  height: 100%;
  color:@blue;
}

body { 
	background: #000;
    margin: 0px; 
    overflow: hidden; 
    text-align:center;
}

h2 {
    color:#fff;
}

.cssworld {
    pointer-events: none;
}

div.label {
    color :#fff;
    font-size: 100px;
    cursor: default;
}

.stats {
  max-height: 600px;
  border-radius: 25px;
  border: 2px solid @blue;
}

#buildMenu {
  margin-top: 10px;
  display:none;
  position:absolute;
  min-width: 350px;
  height: 100%;
  max-width: 350px;
  right:0;

    h2 {
        color:#000;
        background: @blue;
    }
}